@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@import "tailwindcss";

/* FIX LINK TRONG PROSE */
.prose a {
  color: rgb(37 99 235); /* blue-600 */
  font-weight: 600;
  text-decoration: none;
}

.prose a:hover {
  color: rgb(29 78 216); /* blue-700 */
}

/* ===== FIX CODE BLOCK TRONG PROSE ===== */

/* Không cho code inline phá layout */
.prose code {
  white-space: pre-wrap !important;
  word-break: normal !important;
}

/* Bỏ dấu ` tự sinh */
.prose code::before,
.prose code::after {
  content: none !important;
}

/* Code block */
.prose pre {
  white-space: pre !important;
  overflow-x: auto;
}

/* Code bên trong pre */
.prose pre code {
  background: transparent !important;
  padding: 0 !important;
  font-size: 0.875rem;
  line-height: 1.6;
}
